html {
  text-align: center;
  font-family: Gotham;
}

h1 {
  color: white;
  font-size: 150px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}

h3 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  font-variant-caps: all-petite-caps;
}

.header {
  background-image: url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/12009558_10205310910075681_5333034212892807381_n.jpg?oh=fcf1e007cef9b89800fbe031bbb96f1d&oe=59AB5CE9');
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: lightgray;
  color: white;
  text-align: left;
  font-variant: small-caps;
}

a nav {
  color: white;
}
